<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPMS3POC2</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="favicon.ico">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <environment include="Development">
        <link href="~/css/normalize.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/css/aspen-icon.css" rel="stylesheet" />
        <link href="~/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/aspen-bootstrap.css" />
        <link rel="stylesheet" href="~/css/bread-crumb.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/EPMSPOC-3-Site.css" rel="stylesheet" />*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header id='header' class="fixed-top bg-white">
        <nav class="navbar navbar-expand-lg main-nav float-left">
            <a href="/" class="navbar-brand logo pl-0">
                <img src="~/images/logo/aspen_logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="vp-navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Visit Prep
                        </a>
                        <div class="dropdown-menu" aria-labelledby="vp-navbarDropdown">
                            <a class="dropdown-item" href="#">Appointment Confirmations</a>
                            <a class="dropdown-item" href="#">Chart Audit</a>
                            <a class="dropdown-item" href="#">Electronic Eligibility</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Visit Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clinical</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Consult</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="oft-navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Office Tools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="oft-navbarDropdown">
                            <a class="dropdown-item" href="#">Tracker Board</a>
                            <a class="dropdown-item" href="#">End Of Day</a>
                            <a class="dropdown-item" href="#">Reports</a>
                            <a class="dropdown-item" href="#">OM Dashboard</a>
                            <a class="dropdown-item" href="#">PSR Dashboard</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PatientPerson">Patient Search</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar float-right" style="margin:0 !important;padding:0 !important;">
            <ul class="navbar-nav float-right">
                <li class="nav-item dropdown userinfo">
                    <a class="nav-link dropdown-toggle" href="#" id="user-navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon-login login_icon" style="font-size: 30px;"></span>
                        <div class="userinfo_container">
                            <div class="userinfo">DA Test</div>
                            <div class="userinfo">6304-Utica, NY</div>
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="user-navbarDropdown">
                        <a class="dropdown-item" href="#">Training</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    @RenderBody()



    <footer id="footer" class="footer fixed-bottom mt-4 container-fluid bg-white">
        <p class="float-right font-weight-bold p-2">&copy; 2018 - EPMS3POC2</p>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
